<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<div class="page__footer-copyright" itemprop=""><strong>Office Hours:</strong> Tues 9:30-11:30 am, Wed 1:00-2:00 pm [<a href="https://calendar.google.com/calendar/selfsched?sstoken=UURBRmdwbDRPZjRLfGRlZmF1bHR8ODA0MjEwZDhkMTYwMDRmNWI4MWYyNjc2OTI5YWQ3Yjg">make an appointment</a>]<br>make an appointment<a href="http://ling.hawaii.edu"><strong>University of Hawai‘i Department of Linguistics</strong></a> | Moore Hall 569, 1890 East-West Rd., Honolul, HI 96822 USA</div>
<!-- end custom footer snippets -->
