---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<iframe src="/talkmap/map.html" height="400" width="700" style="border:none;"></iframe>

<!--
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
-->

{% endif %}

{% assign active_talks = site.talks | where:"status", "active" %}

{% assign upcoming_talks = active_talks | where_exp: "talks","talks.date > site.time" %}
{% assign past_talks = active_talks | where_exp: "talks","talks.date <= site.time"  %}



{% for post in upcoming_talks reversed %}
  {% if forloop.first %} <h2>Upcoming Talks</h2> {% endif %}
  {% include archive-single-talk.html %}
{% endfor %}

<!-- only display talks within last `recent_talks` year -->
{% assign oldestyear = site.time | date: "%Y" | minus: site.recent_talks %}
{% for post in past_talks reversed %}
  {% if forloop.first %} <h2>Recent Talks</h2> {% endif %}
  {% assign postyear = post.date | date: "%Y" | plus:0 %}
  {%if postyear >= oldestyear %}
    {% include archive-single-talk.html %}
  {% endif %}

{% endfor %}
