---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<iframe src="/talkmap/map.html" height="400" width="700" style="border:none;"></iframe>

<!--
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
-->

{% endif %}



{% assign upcoming_talks = site.talks | where_exp: "talks","talks.date > site.time" %}
{% assign past_talks = site.talks | where_exp: "talks","talks.date <= site.time" %}

<h2>Upcoming</h2>

{% for post in upcoming_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Past</h2>

{% for post in past_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
