---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
header:
  overlay_image: fishtrap.jpg
  overlay_filter: 0.3
---

<p>I teach courses in the Language Documentation &amp; Conservation academic program at the University of Hawai‘i at Mānoa. </p>

<ul>
  <li><a href="/documentary-linguistics/">documentary linguistics @ hawai‘i</a></li>
  <li><a href="http://ling.hawaii.edu/">Department of Linguistics website</a></li>
</ul>

<p>Interested in majoring in Lingusitics? You can study <a href="http://ling.hawaii.edu/degree-programs/undergrad/">lingusitics as an undergraduate</a> via the Interdisciplinary Studies program. Contact me for more informtion.</p>

<p>Many UH Mānoa Graduate Division forms are <a href="https://manoa.hawaii.edu/graduate/forms/">now available electronically</a>. 
</p>

<p>You might also be interested in this list of <a href="/resources/">resources</a> for documentary linguistics.</p>


{% include base_path %}

{% assign this_term = "" %}

{% assign active_courses = site.teaching | where:"status","active" %}

{% for post in active_courses reversed %}
  {% if post.term != this_term %}
  {% assign this_term = post.term %}
    <h1>{{ this_term }}</h1>
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
