---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
header:
  overlay_image: fishtrap.jpg
  overlay_filter: 0.3
---

<p>I teach courses in the <a href="/posts/docling/">Documentary Linguistics</a> as part of the Language Documentation &amp; Conservation academic program at the University of Hawai‘i at Mānoa. I also serve as liaison to the <a href="/undergrad/">undergraduate B.A. in Linguistics</a> via the Interdisciplinary Studies Program.</p>


<h1>Current and Upcoming Courses</h1>

{% include base_path %}

{% assign this_term = "" %}

{% assign active_courses = site.teaching | where:"status","active" %}

{% for post in active_courses reversed %}
  {% if post.term != this_term %}
  {% assign this_term = post.term %}
    <h2>{{ this_term }}</h2>
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
