---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
header:
  overlay_image: fishtrap.jpg
  overlay_filter: 0.3
---



<h1>Documentary Lingusitics @ Mānoa</h1>

<p>I teach courses in  <a href="/documentary-linguistics/">Documentary Linguistics</a> as part of the Language Documentation &amp; Conservation academic program at the University of Hawai‘i at Mānoa.

<h1>Undergraduate Linguistics @ Mānoa</h1>
Our program offers M.A. and Ph.D. degrees in Linguistics, but motivated undergraduate students can pursue a <a href="http://ling.hawaii.edu/application-procedure/">B.A. in Linguistics</a> via the Interdisciplinary Studies Program.</p>


<h1>Current and Upcoming Courses</h1>
I will be on sabbitical leave during calendar year 2022. Please check back for information about Spring 2023 course offerings.

{% include base_path %}

{% assign this_term = "" %}

{% assign active_courses = site.teaching | where:"status","active" %}

{% for post in active_courses reversed %}
  {% if post.term != this_term %}
  {% assign this_term = post.term %}
    <h2>{{ this_term }}</h2>
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
